	
<html lang="en">
<head>
  <title>Socket chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!--emoji-->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="public/lib/css/emoji.css" rel="stylesheet">
  <!--emoji ebd  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="public/js/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="public/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="public/js/jquery.fileupload.js"></script>

    <!-- ** emoji js Don't forget to Add jQuery here ** -->
  <script src="public/lib/js/config.js"></script>
  <script src="public/lib/js/util.js"></script>
  <script src="public/lib/js/jquery.emojiarea.js"></script>
  <script src="public/lib/js/emoji-picker.js"></script>
  <!-- emoji end-->
<style>
     .chat
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 450px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.panel-body ul {
    width: 100%;
} 
.panel-body ul .right {
    width: 100%;
    float: right;
}
.panel-body ul .left {
    width: 100%;
    float: left;
}

.panel-body ul .right .chat-body p {
    text-align: right;
}
.panel-body ul li span.cricle_info {
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ed3f1c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    background-color:#ed3f1c    ;
    color:#fff;
    font-weight: 100;
}
.panel-body ul li span.cricle_info2 {
    font-size: 20px;
    display: inline-block;
    border: 1px solid #306ef4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    background-color:#306ef4;
    color:#fff;
    font-weight: 100;
}
.panel-footer .input-group span button{
    background: #374b51 !important;
    border: 1px solid #374b51;
    color:#fff;
    
}

*****************************************
  upload button styles
******************************************/
.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload__label {
  display: block;
 padding: 0em 3.5em;
  color: #fff;
  background: #222;
  border-radius: .4em;
  transition: background .3s;
  
  &:hover {
     cursor: pointer;
     background: #000;
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}
img{
  height: auto;
  width: 150px;
}
i.emoji-picker-icon.emoji-picker.fa.fa-smile-o{
  margin-right: 5%;
}
    </style>
</head>
<body>
  <div class="row">
  <div class="col-md-2 col-sm-2">
  <h4>Online User</h4>
     <ul id="users"></ul>
  </div> 
        <div class="col-md-10 col-sm-10">
        <input type="hidden" id="username" value="<%= username %>">
       <input type="hidden" id="room_name" value="<%= room %>">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; <b><%= username %></b>
                    <div id="notif"></div>
		    <div class="file-upload">
				    <label for="upload" class="file-upload__label" style='width:14%'>Attach</label>
				    <input id="upload" class="file-upload__input" type="file" name="mkfile" >
				</div>

  
                    <div class="btn-group pull-right">
                       <!-- <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href=""><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href=""><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href=""><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>-->
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="chat">

                    </ul>
                </div>
                <div class="panel-footer">
               
                    <div class="input-group">

                        <input id="text" type="text" class="form-control input-sm"  placeholder="Type your message here..."  data-emojiable="true" autofocus />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
				
                        </span>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
  $("document").ready(function(){
          // Initializes and creates emoji set from sprite sheet
          window.emojiPicker = new EmojiPicker({
          emojiable_selector: '[data-emojiable=true]',
          assetsPath: './public/lib/img/',
          popupButtonClasses: 'fa fa-smile-o'
          });
         
          window.emojiPicker.discover();
          $('.emojiPicker').css({left:'80px', top:'12px'});
          //-----emoji end---------
        var pageURL = document.location.origin;
       var socket = io.connect(pageURL);

       var username =$("#username").val();
       var room =$("#room_name").val();
      socket.emit('newuser',username,room);   //<-- it will create new room and server

               $('#text').keypress(function(e){
                if(e.keyCode==13)
                $('#btn-chat').click();
              });

             $("#btn-chat").click(function(){
                var username =$("#username").val();
                var msg=$("#text").val();

                if(username!="" && msg!="")
                {
                  socket.emit('sendmsg',msg,username);
                  $("#text").val('');
                }
              else
              {
                alert('Please provide required');
              }
            });

    //normal chat
       socket.on('showchat',function(sendername,numuser,msg){
         if(sendername==username)
           {
              name=username;
             $('.chat').append('<li class="left clearfix"><span class="chat-img cricle_info pull-left">'+name.charAt(0).toUpperCase()+'</span> <div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+name+'</strong> <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span>12 mins ago</small> </div><p>'+msg+'</p> </div></li>');
          }
          else
          {
             name=sendername;
              $('.chat').append('<li class="right clearfix"><span class="chat-img cricle_info2 pull-right">'+name.charAt(0).toUpperCase()+'</span> <div class="chat-body clearfix"> <div class="header"><small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small><strong class="pull-right primary-font">'+name+'</strong></div> <p>'+msg+'</p></div></li>');
          }
    });

        //new pic send 
    socket.on('showimage', function(sendername,numuser,filename,imagepath){
      //console.log(sendername);
              if(sendername==username)
             {
                name=username;
               $('.chat').append('<li class="left clearfix"><span class="chat-img cricle_info pull-left">'+name.charAt(0).toUpperCase()+'</span> <div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+name+'</strong> <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span>12 mins ago</small></div><a download="'+filename+'" href="'+imagepath+'" title="'+filename+'"><img alt="'+filename+'" class="img-thumbnail" src="'+imagepath+'" style:"height: 100px;width: 150px;"></a> </div></li>');
            }
            else
            {
               name=sendername;
                $('.chat').append('<li class="right clearfix"><span class="chat-img cricle_info2 pull-right">'+name.charAt(0).toUpperCase()+'</span> <div class="chat-body clearfix"> <div class="header"><small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small><strong class="pull-right primary-font">'+name+'</strong></div><a download="'+filename+'" href="'+imagepath+'" title="'+filename+'"><img alt="'+filename+'" class="img-thumbnail" src="'+imagepath+'"style:"height: 100px;width: 150px;"></a></div></li>');
            }
        });

 socket.on('showvideo', function(sendername,numuser,filename,videopath){
      //console.log(sendername);
              if(sendername==username)
             {
                name=username;
               $('.chat').append('<li class="left clearfix"><span class="chat-img cricle_info pull-left">'+name.charAt(0).toUpperCase()+'</span> <div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+name+'</strong> <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span>12 mins ago</small></div><video width="200" controls><source src="'+videopath+'" type="video/mp4">Your browser does not support HTML5 video.</video></div></li>');
            }
            else
            {
               name=sendername;
                $('.chat').append('<li class="right clearfix"><span class="chat-img cricle_info2 pull-right">'+name.charAt(0).toUpperCase()+'</span> <div class="chat-body clearfix"> <div class="header"><small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small><strong class="pull-right primary-font">'+name+'</strong></div><video width="200" controls><source src="'+videopath+'" type="video/mp4">Your browser does not support HTML5 video.</video></div></li>');
            }
        });
    socket.on('notification', function(msg){
        $("#notif").html('<p>'+msg+'</p>');
        setTimeout(function() { $("#notif").html(''); }, 3000);
    });

    socket.on('broadcast',function(username){
        //alert(username);
          $('#users').html('<li><b>'+username+'</b></li>');
       
      
    });

     // Change this to the location of your server-side upload handler:
    var url = pageURL+'/upload';
    $('#upload').fileupload({
        url: url,
        dataType: 'json',
        maxFileSize: 20000000, //20mb
        done: function (e, data) {
         //  for( var k in data)
         // {
         //  console.log(k);
         // }
         // for( var x in data)
         // {
         //  console.log(data['result'].msg);
         // }
         
          console.log(data['result'].msg);
          console.log(data['result'].url);
          console.log(data['result'].type);
          var imagepath=data['result'].url;
          var imagename=data['result'].msg;
          var type=data['result'].type;
          alert(data['result'].type);
          if(imagename!='400')
          {
              if(type.indexOf('image') > -1) {
                alert('image');
                  var type='image';
                  socket.emit('sendfile',imagename,imagepath,type,username);
              }
              else if(type.indexOf('video') > -1) {
                  alert('video');
                var type='video';
               socket.emit('sendfile',imagename,imagepath,type,username);
              }
              else
              {
                  alert('file');
                var type='file';
                socket.emit('sendfile',imagename,imagepath,type,username);
              }
         
          }
          else
          {
            alert('something is wrong');
          }
      
        }
        // progressall: function (e, data) {
        //     var progress = parseInt(data.loaded / data.total * 100, 10);
        //     $('#progress .progress-bar').css(
        //         'width',
        //         progress + '%'
        //     );
        // }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});

</script>
</body>
</html>
